body{
    background-color: rgb(255,245,238);
}

h1{
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 57px;
}


.fa-trash
{
    margin-right: 5px;
}

.card
{
    width: 18rem;
}

#addModuleInputGroup{
    padding-bottom: 10px;
}