body{
    background-color: rgb(248,248,255);
}

h1{
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 57px;
    color : maroon;
}

#topicInput, #topicBtn, #lessonInput, #lessonBtn, #moduleInput, #moduleBtn
{
    border-radius: 20px;
}


#borderLine{

    border-right: 2px solid #333333;

}
#moduleListItem {

    border-radius: 20px;
    background-color: rgb(211,211,211);
    margin-top: 15px;
    margin-left: 15px;
    width : 60%;
}

.card{
    margin-left: 20px;
}

.topicIn{
    margin-top:10px;
    margin-left: 30px;
    width : 40%;
}

#lessonTab
{
    margin-top: 10px;
    border-color: rgb(72,61,139);
    margin-right: 10px;
    background-color: rgb(224,255,255);
}

#lessonI{
    margin-bottom: 10px;
}

#topicPillItem {
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 18px;
    background-color: rgb(255,228,225);
}

.fa-trash
{
    margin: 5px;
    cursor:pointer;
}

.card
{
    margin-top:20px;
    margin-left: 40px;
    width: 18rem;
}

#addModuleInputGroup{

    padding-bottom: 10px;
}

